# Nurse staffing strategies for enhanced patient care

Analysis of the Center for Medicare & Medicaid Services Nurse Staffing
Dataset

Matthew Bain  
2024-03-22

I analyze a medical staffing dataset and identify avenues to improve
work satisfaction among nurses and the quality of care provided at
United States medical institutions.

\[…\]

## Imports

In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from great_tables import GT
from pandas.plotting import scatter_matrix

from src.stylesheet import customize_plots
from src.inspection import make_df, display, display2

## The dataset

### Load the data

We begin by exploring the data to get to know the features and patterns
on which we will base our analysis.

In [38]:
if 'data' not in locals():
    data = pd.read_csv(
        "../data/raw/PBJ_Daily_Nurse_Staffing_Q1_2024.zip",
        encoding='ISO-8859-1',
        low_memory=False
    )
else:
    print("data loaded.")

### Inspect the data

In [39]:
data.sample(5)

In [40]:
data.info(memory_usage=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1330966 entries, 0 to 1330965
Data columns (total 33 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   PROVNUM           1330966 non-null  object
 1   PROVNAME          1330966 non-null  object
 2   CITY              1330966 non-null  object
 3   STATE             1330966 non-null  object
 4   COUNTY_NAME       1330966 non-null  object
 5   COUNTY_FIPS       1330966 non-null  int64
 6   CY_Qtr            1330966 non-null  object
 7   WorkDate          1330966 non-null  int64
 8   MDScensus         1330966 non-null  int64
 9   Hrs_RNDON         1330966 non-null  float64
 10  Hrs_RNDON_emp     1330966 non-null  float64
 11  Hrs_RNDON_ctr     1330966 non-null  float64
 12  Hrs_RNadmin       1330966 non-null  float64
 13  Hrs_RNadmin_emp   1330966 non-null  float64
 14  Hrs_RNadmin_ctr   1330966 non-null  float64
 15  Hrs_RN            1330966 non-null  float64
 16  Hrs_RN_emp        1330966 non-null  float64
 17  Hrs_RN_ctr        1330966 non-null  float64
 18  Hrs_LPNadmin      1330966 non-null  float64
 19  Hrs_LPNadmin_emp  1330966 non-null  float64
 20  Hrs_LPNadmin_ctr  1330966 non-null  float64
 21  Hrs_LPN           1330966 non-null  float64
 22  Hrs_LPN_emp       1330966 non-null  float64
 23  Hrs_LPN_ctr       1330966 non-null  float64
 24  Hrs_CNA           1330966 non-null  float64
 25  Hrs_CNA_emp       1330966 non-null  float64
 26  Hrs_CNA_ctr       1330966 non-null  float64
 27  Hrs_NAtrn         1330966 non-null  float64
 28  Hrs_NAtrn_emp     1330966 non-null  float64
 29  Hrs_NAtrn_ctr     1330966 non-null  float64
 30  Hrs_MedAide       1330966 non-null  float64
 31  Hrs_MedAide_emp   1330966 non-null  float64
 32  Hrs_MedAide_ctr   1330966 non-null  float64
dtypes: float64(24), int64(3), object(6)

In [41]:
data.describe().round(1)
# display(Markdown(data.describe().to_markdown()))

### Group the features

In [42]:
df = data.loc[:, [
    "STATE",
    "COUNTY_NAME", "COUNTY_FIPS",
    "CITY",
    "PROVNAME", "PROVNUM",
    # "MDScensus"
]].value_counts()
df.to_frame()
# GT(df.reset_index().head(n=5))

In [43]:
display2(
    "data['STATE'].value_counts()",
    "data['COUNTY_NAME'].value_counts()",
    "data['CITY'].value_counts()",
    "data['PROVNAME'].value_counts()",
    "data['MDScensus'].value_counts()",
    width="340px",
    globs=globals()
)

In [44]:
data[["CY_Qtr", "WorkDate", "MDScensus"]]

### Clean the data

## Explore the dataset

### Visualize distributions

### Visualize relationships

In [33]:
attributes = ["Hrs_RN", "Hrs_LPN_ctr", "Hrs_CNA", "Hrs_NAtrn", "Hrs_MedAide"]
n = len(attributes)

fig, axs = plt.subplots(n, n, figsize=(8, 8))
scatter_matrix(
    data[attributes].sample(200),
    ax=axs, alpha=.7,
    hist_kwds=dict(bins=15, linewidth=0)
)
fig.align_ylabels(axs[:, 0])
fig.align_xlabels(axs[-1, :])
for ax in axs.flatten():
    ax.tick_params(axis='both', which='both', length=3.5)

# save_fig("scatter_matrix_plot")

plt.show()

### Compare groups

## Feature engineer

### Join geographical data

### Join seasonal data

## Analyze geography

## Analyze seasonality

## Model

## Extra visualizations

### Sparklines

In [34]:
# TODO: pivot on day

data_pivoted = data.pivot_table(
    index="STATE",
    columns="WorkDate",
    values="Hrs_RN",
    aggfunc='mean'
)

# Resetting the index for easier column access
# data_pivoted.reset_index(inplace=True)
data_pivoted.head()

In [35]:
# (
#     GT(data_pivoted, rowname_col="STATE")
#     .fmt_nanoplot(
#         columns=data_pivoted.columns[1:],
#         reference_line="mean",
#         reference_area=["min", "q1"]
#     )
#     .fmt_nanoplot(
#         columns=data_pivoted.columns[1:],
#         plot_type="bar",
#         reference_line="max",
#         reference_area=["max", "median"]
#     )
# )

## Archive