# Nurse Staffing Recommendations

This is a subtitle

Matthew Bain  
2024-03-22

This is an abstract.

\[…\]

## Imports

In [73]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import Markdown

from src.stylesheet import customize_plots
from src.inspection import make_df, display

## The dataset

\[…\]

In [78]:
if 'data' not in locals():
    data = pd.read_csv(
        "../data/raw/PBJ_Daily_Nurse_Staffing_Q1_2024.csv",
        encoding='ISO-8859-1'
    )
else:
    print("data loaded.")

data loaded.

In [79]:
data.sample(5)

In [80]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1330966 entries, 0 to 1330965
Data columns (total 33 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   PROVNUM           1330966 non-null  object
 1   PROVNAME          1330966 non-null  object
 2   CITY              1330966 non-null  object
 3   STATE             1330966 non-null  object
 4   COUNTY_NAME       1330966 non-null  object
 5   COUNTY_FIPS       1330966 non-null  int64
 6   CY_Qtr            1330966 non-null  object
 7   WorkDate          1330966 non-null  int64
 8   MDScensus         1330966 non-null  int64
 9   Hrs_RNDON         1330966 non-null  float64
 10  Hrs_RNDON_emp     1330966 non-null  float64
 11  Hrs_RNDON_ctr     1330966 non-null  float64
 12  Hrs_RNadmin       1330966 non-null  float64
 13  Hrs_RNadmin_emp   1330966 non-null  float64
 14  Hrs_RNadmin_ctr   1330966 non-null  float64
 15  Hrs_RN            1330966 non-null  float64
 16  Hrs_RN_emp        1330966 non-null  float64
 17  Hrs_RN_ctr        1330966 non-null  float64
 18  Hrs_LPNadmin      1330966 non-null  float64
 19  Hrs_LPNadmin_emp  1330966 non-null  float64
 20  Hrs_LPNadmin_ctr  1330966 non-null  float64
 21  Hrs_LPN           1330966 non-null  float64
 22  Hrs_LPN_emp       1330966 non-null  float64
 23  Hrs_LPN_ctr       1330966 non-null  float64
 24  Hrs_CNA           1330966 non-null  float64
 25  Hrs_CNA_emp       1330966 non-null  float64
 26  Hrs_CNA_ctr       1330966 non-null  float64
 27  Hrs_NAtrn         1330966 non-null  float64
 28  Hrs_NAtrn_emp     1330966 non-null  float64
 29  Hrs_NAtrn_ctr     1330966 non-null  float64
 30  Hrs_MedAide       1330966 non-null  float64
 31  Hrs_MedAide_emp   1330966 non-null  float64
 32  Hrs_MedAide_ctr   1330966 non-null  float64
dtypes: float64(24), int64(3), object(6)
memory usage: 335.1+ MB

In [81]:
data.describe()

## SQL

In [ ]:
CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    position VARCHAR(50)
);

In [ ]:
INSERT INTO employees (id, name, position)
VALUES (1, 'Alice Johnson', 'Software Engineer'),
       (2, 'Bob Smith', 'Data Analyst'),
       (3, 'Charlie Brown', 'Project Manager');

In [ ]:
SELECT name
FROM employees