# Nurse Staffing Recommendations

This is a subtitle

Matthew Bain  
2024-03-22

This is an abstract.

\[…\]

## Imports

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from src.stylesheet import customize_plots
from src.inspection import make_df, display

## The dataset

\[…\]

In [3]:
# This is a test
def test(x):
    """
    This is a test.

    Parameters
    -----------
    x : int
        An integer.

    Returns
    -------
    y : int
        An integer.
    """
    y = x + 1
    return y

In [4]:
test(4)

5

In [5]:
customize_plots()
x = np.linspace(1, 10, 19)
plt.plot(x*2)

In [6]:
df = make_df([1, 2, 3], ["A", "B", "C"])
display("df", "df.transpose()", globs=globals())

df
--- (3, 3) ---
    1   2   3
A  1A  2A  3A
B  1B  2B  3B
C  1C  2C  3C


df.transpose()
--- (3, 3) ---
    A   B   C
1  1A  1B  1C
2  2A  2B  2C
3  3A  3B  3C

## SQL

In [ ]:
CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    position VARCHAR(50)
);

In [ ]:
INSERT INTO employees (id, name, position)
VALUES (1, 'Alice Johnson', 'Software Engineer'),
       (2, 'Bob Smith', 'Data Analyst'),
       (3, 'Charlie Brown', 'Project Manager');

In [ ]:
SELECT name
FROM employees